.first {
    background-color: aqua;
    Width: 1024px;
    height: 118px
}

.second {
    background-color: aqua;
    Width: 1024px;
    height: 118px
}

.third {
    background-color: aqua;
    Width: 1024px;
    height: 118px
}

.fourth {
    background-color: aqua;
    Width: 1024px;
    height: 118px
}

.fifth {
    background-color: aqua;
    Width: 1024px;
    height: 118px
}